.profile-container
    .image-profile-container{style:"background-image: url(#{url_for(@user.cover)})"}
        =user_avatar(@user)
        -# Somos amigos? -> si(muestra el texto)    no -> (muestra el boton)
        =@user.test_buttons
    .info-profile-container.radius-10
        %h2.font-bold.dark-gray-text= @user.username
        %p.font-bold.dark-gray-text= @user.email
        %p.font-light.light-gray-text= @user.bio