.container.gray.large-padding
    .new-post-container
        .user-container
            .user-image-profile
                =user_avatar(current_user)
            .user-post-info.dark-gray-text
                =link_to current_user.username, current_user, class:'font-bold dark-gray-text no-decoration'
        .new-form-post
            =render 'posts/form'
    = render @posts
    = will_paginate @posts
        

