.container
    .new-post-container
        .user-container
            .user-image-profile
                =image_tag url_for(current_user.avatar)
            .user-post-info.dark-gray-text
                =link_to current_user.username, current_user, class:'font-bold dark-gray-text no-decoration'
        .new-form-post
            =render 'posts/form'
    - @posts.each do |post|
        .post-container
            .user-container
                .user-image-profile
                    =image_tag url_for(current_user.avatar)
                .user-post-info
                    =link_to post.user.username, post.user, class:'font-bold dark-gray-text no-decoration'
                    %p.font-light.secundary-text= time_ago_in_words(post.created_at)
            .post-content
                %p.normal-font= post.body
            .reaction-container
                .likes
                    %p
                        %i.far.fa-thumbs-up 
                        %span 250
                .comments
                    %p
                        %i.far.fa-comments
                        %span 5
                        comentarios

