.large-padding.gray
    -@chat.chat_rooms.each do |participant|
        -if participant.user != current_user
            .header-chat
                %h2= participant.user.username
    .chat-container
        .user-container
            .user-image
        -@chat.messages.each do |message|
            .message-container{class: "#{'my-message' if current_user == message.user}"}
                %p.white-text= message.content
            %p.no-margin.light-gray-text{style: "#{'align-self:flex-end;' if current_user == message.user}"}= time_ago_in_words(message.created_at)
    .form-chat
        =render 'messages/form'