.friend
    .friend-image-profile
        =user_avatar(friendship.user_view)
        =link_to friendship.user_view.username, friendship.user, class:"normal-text dark-gray-text font-bold no-decoration"
    .buttons-frienships-container 
        = friendship.status_or_buttons