.friend
    .friend-image-profile
        =user_avatar(friendship.user)
        =link_to friendship.user.username, friendship.user, class:"normal-text dark-gray-text font-bold no-decoration"
    .buttons-frienships-container 
        = link_to root_path, class:'button accept-button no-decoration' do
            %i.fas.fa-check
            Aceptar
        = link_to root_path, class:'button reject-button no-decoration' do
            %i.fas.fa-times
            Rechazar