.profile-container.gray
    .card.margin-top
        %h1.dark-gray-text.font-bold.title Amigos
        .friends-container
            %h3.secundary-text.dark-gray-text Solicitudes de amistad
            =render @pending_friendships
        .friends-container
            %h3.secundary-text.dark-gray-text Lista de amigos
            =render @accepted_friendships
            =render @friends
        .friends-container
            %h3.secundary-text.dark-gray-text Mis solicitudes pendientes
            =render @pending_requests
    

    