.post-container
   .user-container
      .user-image-profile
         =user_avatar(post.user)
      .user-post-info
         =link_to post.user.username, post.user, class:'font-bold dark-gray-text no-decoration'
         %p.font-light.secundary-text= time_ago_in_words(post.created_at)
   =link_to post, class: 'post-content no-decoration dark-gray-text' do
      %p.normal-font= post.body
   .reaction-container
      .likes
         - if post.liked?(current_user)
            =button_to dislike_path(post), method: :delete do
               %i.fas.fa-thumbs-up.blue-text
         -else
            =button_to like_path(post), method: :put do
               %i.far.fa-thumbs-up
         %span
            =post.likes.count
      .comments
         %p
            %i.far.fa-comments
            %span= post.comments.count
            comentarios