.main-container
  .margin-top
    =link_to new_product_path, class:'btn-facebook-primary no-decoration' do
      %i.fas.fa-add
      Agregar producto 
  .products-container
    - @products.each do |product|
      .product-card
        .image-product-cover{style:"background-image:url(#{url_for(product.cover)})"}
        .info-product
          =link_to truncate(product.name, length: 50), product, class:'no-decoration dark-gray-text font-bold normal-font'
          %p.margin-top.light-gray-text= truncate(product.description, length: 50)
          .price-container.margin-top.dark-gray-text
            %p.font-bold.title= product.price
            %i.title.far.fa-heart
  = will_paginate @products
        
